*{
	margin:0;
	letter-spacing: 2px;
	border-radius: 0% !important;
	font-family: 'Roboto', sans-serif;
}

body{
	background-color: #ededed !important;
}

h1,h2,h3,h4,h5,h6,a{
	text-transform: uppercase;
}

.jumbotron{
	color:#fff;
	background-image: url('../../assets/images/backgrounds/hero.jpg');
}

.navbar a{
	color:#fff;
	font-weight: 700;
}

.akan-top-content{
	margin:10% 0% 2.5% 0%;
}

.akan-brand-name{
	font-size:25px;
}

.akan-brief-description{
	padding:2% 25% 0% 25%;
}

.akan-brief-description p{
	font-size: 18px;
	line-height: 30px;
}
